<h1>StaticPages#help</h1>
<p>
    Find me in app/views/static_pages/help.html.erb
    若想得到帮助
    <a href="http://www.railstutorial.org/help">Rails Tutorial help page</a>
    想得到更多例子
    <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
    book</a>.    
</p>
